{% extends 'base.html' %}

{% block content %}
<div class="px-6 py-10 lg:py-20 bg-yellow-500">
    <div class="max-w-3xl mx-auto">
        <p class="mb text-3xl lg:text-5xl text-white">Material da Papelaria</p>
    </div>
</div>
<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
    </div>

    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-4xl">Produto D</h1>

        <p class="mt-1 text-gray-400">$22,99</p>

        <p class="mt-6 text-gray-700">Use e reuse.</p>

        <a href="#" class="mt-6 inline-block px-8 py-4 rounded-xl bg-yellow-500 text-white hover:bg-yellow-700">
            Colocar no carrinho!
        </a>
    </div>
</div>
{% endblock %}